
$colored_back_1:  rgb(10, 61, 109);
$colored_back_2: rgb(8, 55, 99);
$light_back: rgb(255, 255, 255);


$light_border_color: rgb(255, 255, 255);
$dark_border_color: rgb(5, 49, 90);


$dark_text_color: rgb(5, 49, 90);
$light_text_color: rgb(255, 255, 255);
$mid_text_color: rgb(13, 62, 108);


$blue: rgb(74, 142, 245);
$dark_blue: rgb(39, 99, 189);

$green : rgb(122, 245, 167);
$dark_green: rgb(30, 163, 79);

$red : rgb(245, 123, 148);
$dark_red: rgb(231, 52, 61);

$orange : rgb(241, 185, 83);
$dark_orange : rgb(236, 172, 53);