
$colored_back_1: rgb(233, 109, 109);
$colored_back_2: rgb(196, 92, 92);
$light_back: rgb(255, 255, 255);


$light_border_color: rgb(255, 255, 255);
$dark_border_color: rgb(105, 12, 12);


$dark_text_color: rgb(105, 12, 12);
$light_text_color: rgb(255, 255, 255);


$blue: rgb(74, 142, 245);
$dark_blue: rgb(39, 99, 189);

$green : rgb(122, 245, 167);
$dark_green: rgb(30, 163, 79);

$red : rgb(245, 123, 148);
$dark_red: rgb(230, 78, 86);

$orange : rgb(245, 202, 123);
$dark_orange : rgb(240, 186, 87);