
      $colored_back_1: #626fdf;
      $colored_back_2: #6670da;
      $light_back: #ffffff;
      $mid_text_color: #6670da;
      $light_text_color: #ffffff;
      $dark_text_color: #6770da;
      $light_border_color: #ffffff;
      $dark_border_color: #6670da;

      $blue: #4a8ef5;
      $dark_blue: #2763bd;
      $green: #4cdf82;
      $dark_green: #1ea34f;
      $red: #df536f;
      $dark_red: #c8262e;
      $orange: #f1b953;
      $dark_orange: #ecac35;
    